<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <AD>
    <UserName>adreader</UserName>
    <UserPassword>gfhjkm4adr!</UserPassword>
    <ServerName>corp.vgtz.com</ServerName>
    <AdminGroupsList>
      <Group>LocalAdminsVolgograd</Group>
    </AdminGroupsList>
  </AD>
  <TelegramBot>
    <Token>1466521860:AAF2P3CB7LXq2emoJxl1OzIs5LfptQQMuK8</Token>
  </TelegramBot>
  <UsersAccessList>
    <AllowedAdGroups>
      <Group>LocalAdminsVolgograd</Group>
    </AllowedAdGroups>
  </UsersAccessList>
</configuration>