<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <AD>
    <UserName></UserName>
    <UserPassword></UserPassword>
    <ServerName></ServerName>
  </AD>
  <TelegramBot>
    <Token></Token>
  </TelegramBot>
  <UsersAccessList>
    <AllowedAdGroups>
      <Group></Group>
    </AllowedAdGroups>
  </UsersAccessList>
</configuration>